body {
  background-color: floralwhite;
}

nav{
background-color: navy;
}

nav a{
  color: white;
}
h1 {

  color: navy;
  margin-left: 20px;
}

h2 {
  background-color: navy;
  color: white;
}



h3 { 
background-color: yellow;
color: white; }

button {
  background-color: red;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

select {
        width: 500px;
        margin: 10px;
    }